{% extends '@app/base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('soon') }}
{% endblock %}

{% block content %}
    <div class="page page-soon">



    </div> {# /.page #}
{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('soon') }}

    <script>

        $(document).ready(function () {


        });

    </script>
{% endblock %}