:root {
    --border-grey: rgb(199, 199, 199);

    --background-black: rgb(0, 0, 0);
    --background-white: rgb(255, 255, 255);

    --color-text: #4a4a4a;
    --color-red: red;
    --color-green: green;

    --font-family-normal: 'Quicksand', sans-serif;
}

.templates-engine {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background: rgb(255, 255, 255);

    z-index: 250;

    overflow-y: auto;
}

.templates-engine .btn {
    font-family: var(--font-family-normal);
}

.selectric {
    border: 1px solid var(--border-grey);
    background: none;
}

.selectric .button {
    background: none;
}

.selectric-items {
    background: var(--background-black);
    border: 1px solid var(--border-grey);
    border-top: none;
}

.selectric-items li {
    background: var(--background-white);
    text-transform: uppercase;
}

.selectric-items li:hover {
    background: var(--background-white);
    opacity: .95;
}

.selectric-items li.highlighted {
    background: var(--background-white);
    opacity: .95;
}

.note-air-popover {
    top:20px!important;
    left: 50%!important;

    transform: translateX(-50%);

    border-radius: 0;
    border:1px solid var(--border-grey);
}

.note-air-popover .btn-group {
    margin-top:0!important;
}


.note-air-popover .note-btn {
    width: 50px;
    height: 50px;

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cancel:hover {
    color: var(--color-red);
}

.btn-save:hover {
    color: var(--color-green);
}

.btn[type="button"] i {
    font-size: 10px;
    margin-right: 5px;
}

.templates-engine .templates-controls {

    position: fixed;
    right: 10px;

    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
    transition: linear .3s;

    display: flex;
    align-items: center;
}

.templates-engine .templates-controls.controls-top {
    top: 10px;
}

.templates-engine .templates-controls.controls-right {
    right: 10px;
    justify-content: flex-end;
}

.templates-engine .templates-controls.controls-bottom {
    bottom: 10px;
}

.templates-engine .templates-controls.controls-left {
    left: 10px;
    justify-content: flex-start;
}

.templates-engine .templates-content {
    height: auto;
    width: 550px;

    min-height: calc(100% - 125px);

    margin: 100px auto 0 auto;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    background: #fff;
}

.templates-formats {
    width: 300px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
    transition: linear .3s;

    z-index: 999;
}

.templates-formats span {
    margin-right: 10px;
}

.templates-engine .item .preview {
    display: none;
}

.templates-engine .item .content {
    display: block;
}

.templates-engine .templates-content .block {
    position: relative;

    border: none !important;
}



.templates-content .block .block-move-container {
    padding-left: 20px;

    position: absolute;
    top: 0;
    left: -90px;
}

.templates-engine .block .block-move{

    width: auto;
    height: auto;

    background: #000;
    border: 1px solid var(--border-grey);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.templates-engine .block .block-move:before {
    content: '';

    position: absolute;
    top: 0;
    right: -15px;

    width: 15px;
    height: 100%;

    z-index: 1;

}

.templates-engine .block .block-move .btn {
    width: 55px;
    height: 55px;

    background: #fff;
    opacity: 1;

    border-radius: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.templates-engine .block .block-move .btn:hover {
    opacity: .95;
}

.templates-engine .templates-content .block:hover:before {

    content: '';

    position: absolute;
    top: -2px;
    left: -2px;

    width: calc(100% + 4px);
    height: calc(100% + 4px);

    border: 2px dashed #00da89;
}

.templates-content .block .block-hover-container {
    padding-left: 20px;

    position: absolute;
    top: 0;
    right: -70px;
}

.templates-engine .block .block-hover{

    width: auto;
    height: auto;

    background: #000;
    border: 1px solid var(--border-grey);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.templates-engine .block .block-hover:before {
    content: '';

    position: absolute;
    top: 0;
    left: -20px;

    width: 15px;
    height: 100%;

    z-index: 1;
}

.templates-engine .block .block-hover .btn {
    width: 55px;
    height: 55px;

    background: #fff;
    opacity: 1;

    border-radius: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.templates-engine .block .block-hover .btn:hover {
    opacity: .95;
}

.templates-engine .block .block-hover .btn-move {

}

.templates-engine .block .block-hover .btn-duplicate {
}

.templates-engine .block .block-hover .btn-trash {

}

.templates-modal {

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    padding: 25px;

    border-radius: 0;

    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.02);

    background: rgba(0, 0, 0, .4);

    display: none;
}

.templates-modal .loading-categories {
    width: 100%;
    height: 2px;

    position: absolute;
}

.templates-modal .modal-header {
    background: #f5f5f5;

    height: 77px;
}

.templates-modal .modal-header .nav-tabs {
    border-bottom: none;
}

.templates-modal .modal-header .nav-tabs .nav-item {
    margin-bottom: 0;
}

.templates-modal .modal-header .nav-link {

    padding: 10px 25px;
    background: #fefefe;
    color: #000;

    margin: 0 15px 0 0;

    border: none;
    border-radius: 50px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
}

.templates-modal .modal-header .nav-link.active {
    font-weight: 700;
    background: none;
}

.dropdown-menu.show {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    top: 50px !important;
    transform: none !important;
}

.dropdown-menu .nav-link {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}

.templates-modal .modal-header .close {
    padding: 10px 25px;

    margin: 0;
    font-size: 18px;

    font-family: var(--font-family-normal);
}

.templates-modal .modal-content .counter {
    position: absolute;
    top: -40px;
    left: 20px;

    width: calc(100% - 40px);
    height: 40px;

    text-transform: uppercase;
    font-size: 20px;

    border-bottom: 1px solid var(--color-text);
}

.templates-modal .modal-content {
    border-radius: 0;
    border: none;

    height: 100%;
}

.templates-modal .modal-body {
    height: calc(100% - 77px);
}

.templates-modal.show {
    z-index: 9999;
}

.templates-modal .modal-dialog {
    width: 100%;
    height: calc(100% - 50px);

    max-width: 1250px;
    background: #fff;
}

.templates-modal .tab-content {
    position: relative;
    height: 100%;

}

.templates-modal .tab-pane {
    margin-top: 50px;
    height: calc(100% - 40px);

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    overflow-y: auto;
}

.templates-modal .item .preview {
    display: block;

    width: 250px;
    height: 145px;

    position: relative;
    margin: 15px 20px;

    background: #000;
    border: #dbdbdb 1px solid;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

    overflow: hidden;

    cursor: pointer;

}

.templates-modal .item .preview img {
    width: auto;
    height: auto;

    min-width: 100%;
    min-height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    object-fit: cover;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    -webkit-transition: linear .2s;
    -moz-transition: linear .2s;
    -ms-transition: linear .2s;
    -o-transition: linear .2s;
    transition: linear .2s;
}

.templates-modal .item .preview:hover img {
    opacity: .95;
}

.templates-modal .item .content {
    display: none;
}

.ck.ck-editor__editable_inline {
    overflow: visible !important;
}

.modal-backdrop {
    display: none !important;
}

.jconfirm-content {
    padding: 50px 100px 10px 100px;
}

.jconfirm-content div {
    text-align: center;
}

.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
    border: 1px solid var(--border-grey);
    border-radius: 0;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 750px !important;
        max-width: 100% !important;
    }
}

@keyframes loading-categories {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}