{% extends '@app/base.html.twig' %}

{% block content %}
    <div class="page">

        {# NAVIGATION #}
        {% include '@app/includes/navigation.html.twig' %}



        {# FOOTER #}
        {% include '@app/includes/footer.html.twig' %}

    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {


        });

    </script>
{% endblock %}