Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe:
<a href="http://dev.la-chaumotte.fr/reinitialisation-du-mot-de-passe?token={{ forgot_token }}&email={{ email }}">Réinitialiser mon mot de passe</a>


