{% extends '@app/base.html.twig' %}

{% block content %}
    <div class="page page-customer page-register">

    {# NAVIGATION #}
    {% include '@app/includes/navigation.html.twig' %}


    <header class="page-header">
    </header>


    <div class="page-content">

        <div class="page-container">
            <p id="forgot-informations">Le temps de réinitialisation a expiré. Veuillez réitérer votre demande
                <a href="{{ '/' ~ locale ~  pages.home.translate(locale).uri }}">Retourner sur le site</a></p>
                <a href="{{ '/' ~ locale ~  pages.forgot_password.translate(locale).uri }}">Réinitialiser le mot de passe</a></p>

        </div> {# /.page-container #}
    </div>  {# /.page-content #}

    {# PAGE FOOTER #}
    {% include '@app/includes/footer.html.twig' %}

    </div>{# /.page #}
{% endblock %}


