<li class="nav-item">
    <a class="nav-link active" id="headers-tab" data-toggle="tab" href="#headers" role="tab" aria-selected="true">
        En-tête
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" id="headers-tab" data-toggle="tab" href="#images" role="tab" aria-selected="true">
        Images
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" id="headers-tab" data-toggle="tab" href="#products" role="tab" aria-selected="true">
        Produits
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" id="footers-tab" data-toggle="tab" href="#footers" role="tab" aria-selected="false">
        Pied de page
    </a>
</li>


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        Autres
    </a>

    <div class="dropdown-menu">
        <div class="column">
            <a class="nav-link" id="articles-tab" data-toggle="tab" href="#buttons" role="tab" aria-selected="false">
                Boutons
            </a>
            <a class="nav-link" id="articles-tab" data-toggle="tab" href="#titles" role="tab" aria-selected="false">
                Titres
            </a>
            <a class="nav-link" id="articles-tab" data-toggle="tab" href="#paragraphs" role="tab" aria-selected="false">
                Paragraphes
            </a>
        </div>

        <div class="column">
            <a class="nav-link" id="articles-tab" data-toggle="tab" href="#articles" role="tab" aria-selected="false">
                Articles
            </a>
            <a class="nav-link" id="articles-tab" data-toggle="tab" href="#parteners" role="tab" aria-selected="false">
                Partenaires
            </a>
            <a class="nav-link" id="articles-tab" data-toggle="tab" href="#faq" role="tab" aria-selected="false">
                Aide, F.A.Q
            </a>
        </div>
    </div>
</li>